---
http_interactions:
- request:
    method: post
    uri: https://wwws.mint.com/bundledServiceController.xevent?legacy=false&token=
    body:
      encoding: UTF-8
      string: input=%5B%7B%22args%22%3A%7B%22types%22%3A%5B%22BANK%22%2C%22CREDIT%22%2C%22INVESTMENT%22%2C%22LOAN%22%2C%22MORTGAGE%22%2C%22OTHER_PROPERTY%22%2C%22REAL_ESTATE%22%2C%22VEHICLE%22%2C%22UNCLASSIFIED%22%5D%7D%2C%22id%22%3A%2235%22%2C%22service%22%3A%22MintAccountService%22%2C%22task%22%3A%22getAccountsSorted%22%7D%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045379019'
      X-Mint-End:
      - '1436045379020'
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<error><code>1</code><description>Session has expired.</description><name></name><type></type></error>"
  recorded_at: Sat, 04 Jul 2015 21:29:39 GMT
- request:
    method: get
    uri: https://wwws.mint.com/login.event?task=L
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\n\"http://www.w3.org/TR/html4/loose.dtd\">\n<html
        \ class=\"newBrand\"  lang=\"en\">\n<head>\n\t<title>Mint.com</title>\n\t<style>\n\t\t.hide
        {\n\t\t\tdisplay: none !important;\n\t\t}\n\t</style>\n\t<link rel=\"shortcut
        icon\" href=\"/sc/ph6887.14/images/favicon.ico\">\n\t<link rel=\"apple-touch-icon\"
        href=\"/sc/ph6887.14/images/apple_touch_icon.png\">\n\t\n\t\n<script type=\"text/javascript\">(window.NREUM||(NREUM={})).loader_config={xpid:\"UA4OVVFWGwYJV1FTBAE=\"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function
        r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var
        o=t[n][1][e];return r(o?o:e)},o,o.exports)}return e[n].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return
        r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,[...]
- request:
    method: post
    uri: https://wwws.mint.com/getUserPod.xevent
    body:
      encoding: UTF-8
      string: username=testuser%40gmail.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045379331'
      X-Mint-End:
      - '1436045379339'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"mintPN":6}'
  recorded_at: Sat, 04 Jul 2015 21:29:39 GMT
- request:
    method: post
    uri: https://wwws.mint.com/loginUserSubmit.xevent
    body:
      encoding: UTF-8
      string: username=testuser%40gmail.com&password=sekretpassword1&task=L&browser=firefox&browserVersion=27&os=Linux
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045379415'
      X-Mint-End:
      - '1436045380085'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"countryId":1,"CSRFToken":"46323907IDc0JC4tNH7IYSt9bhWPqbZt0SqEKmj2nwz52Yw","hasAccounts":true,"buildNumber":"ph6887.14","sUser":{"username":"testuser@gmail.com","acceptedBillpayTerm":false,"hasIntuitGlobalIdentity":true,"token":"46323907IDc0JC4tNH7IYSt9bhWPqbZt0SqEKmj2nwz52Yw","zipcode":"98119","userId":46323907,"creationTime":1345490443000,"clientIntegrationType":"Mint","country":"US","productType":"FREE"},"clientBuildNumber":"spa54.14","supportedLocations":"\/(login|welcome|overview|transaction|bills|planning|goal|trend|creditreport|save|oiiMigration).event","nickname":"","isCreditScoreRegistered":false,"omnitureData":{"fiName":"","userFICount":"10","userAgeRange":"31
        - 35","userLogin":"true","userCreditScore":"Excellent (726 - 830)","productType":"FREE","userState":"WA","userLifetimeLogins":"736","userLoginDate":"07\/04\/2015
        02:29 PM","userGender":"M","userMobilePlatform":"iphone","userCountry":"United
        States","userCreateDate":"08\/20\/2012 12:20 PM","userSignup":"false","userLastLogin":"07\/04\/2015
        02:27 PM","userZip":"98119"},"showMigratePasswordPage":false,"isRefreshing":true}'
  recorded_at: Sat, 04 Jul 2015 21:29:40 GMT
- request:
    method: post
    uri: https://wwws.mint.com/bundledServiceController.xevent?legacy=false&token=46323907IDc0JC4tNH7IYSt9bhWPqbZt0SqEKmj2nwz52Yw
    body:
      encoding: UTF-8
      string: input=%5B%7B%22args%22%3A%7B%22types%22%3A%5B%22BANK%22%2C%22CREDIT%22%2C%22INVESTMENT%22%2C%22LOAN%22%2C%22MORTGAGE%22%2C%22OTHER_PROPERTY%22%2C%22REAL_ESTATE%22%2C%22VEHICLE%22%2C%22UNCLASSIFIED%22%5D%7D%2C%22id%22%3A%2235%22%2C%22service%22%3A%22MintAccountService%22%2C%22task%22%3A%22getAccountsSorted%22%7D%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045380179'
      X-Mint-End:
      - '1436045380284'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"response":{"35":{"response":[{"exclusionType":"0","fiName":"American
        Express Credit Card","accountId":3023609,"klass":"credit","usageType":null,"yodleeAccountNumberLast4":"XXXX-XXXXXX-X1111","currentBalance":231.82,"fiLoginUIStatus":"OK","currency":"USD","id":3023609,"dueAmt":750.1,"isHostAccount":false,"accountStatus":"1","isAccountNotFound":false,"name":"Blue
        Cash Preferred SM","value":-231.82,"accountSystemStatus":"ACTIVE","userName":null,"isHiddenFromPlanningTrends":true,"isError":false,"dueDate":"07\/13\/2015","fiLoginId":982623,"isClosed":false,"fiLastUpdated":1436043885000,"linkedAccount":null,"isTerminal":true,"status":"1","closeDate":1436039531000,"yodleeAccountId":75019778019,"isAccountClosedByMint":false,"lastUpdated":1436043885000,"accountTypeInt":3,"ccAggrStatus":0,"possibleLinkAccounts":[],"interestRate":0.139900,"yodleeName":"Blue
        Cash Preferred SM","lastUpdatedInString":"24 minutes","isActive":true,"accountName":"Blue
        Cash Preferred SM","fiLoginStatus":"OK","linkedAccountId":null,"accountType":"credit","linkStatus":"NOT_LINKED","addAccountDate":1364652392000,"fiLoginDisplayName":"American
        Express Credit Card","linkCreationTime":null},{"exclusionType":"1","fiName":"Fantasy
        Employee Credit Union","accountId":4029283,"klass":"bank","usageType":null,"yodleeAccountNumberLast4":"1111","currentBalance":0.03,"fiLoginUIStatus":"OK","currency":"USD","id":4029283,"isHostAccount":false,"accountStatus":"1","isAccountNotFound":false,"name":"Checking","value":0.03,"accountSystemStatus":"ACTIVE","userName":null,"isHiddenFromPlanningTrends":false,"isError":false,"fiLoginId":1016810,"isClosed":false,"fiLastUpdated":1436043885000[...]
- request:
    method: get
    uri: https://wwws.mint.com/transactionDownload.event?accept=application/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045380468'
      X-Mint-End:
      - '1436045380498'
      Content-Disposition:
      - attachment; filename="transactions.csv"
      No-Store:
      - max-age=0
      Content-Type:
      - text/csv;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |
        "Date","Description","Original Description","Amount","Transaction Type","Category","Account Name","Labels","Notes"
        "7/03/2015","Amazon","AMAZON WEB SERVICES","1.00","debit","Shopping","Blue Cash Preferred SM","",""
        "7/03/2015","Deposit Mobile Banking","Deposit - Mobile Banking","100.00","credit","Income","Member Advant[...]
- request:
    method: get
    uri: https://wwws.mint.com/app/getJsonData.xevent?accept=application/json&comparableType=8&filterType=cash&offset=0&queryNew=&rnd=145873382001&task=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045381023'
      X-Mint-End:
      - '1436045381398'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"set":[{"id":"transactions","data":[{"isTransfer":false,"isEdited":false,"isLinkedToRule":false,"isPercent":false,"isMatched":false,"odate":"Jul
        3","isSpending":true,"isFirstDate":true,"isCheck":false,"date":"Jul 3","mcategory":"Shopping","isDuplicate":false,"id":618827725,"amount":"$1.00","isPending":true,"fi":"American
        Express Credit Card","note":"","isAfterFiCreationTime":true,"txnType":0,"ruleCategory":"","merchant":"Amazon","omerchant":"AMAZON
        WEB SERVICES","categoryId":2,"labels":[],"manualType":0,"category":"Shopping","ruleCategoryId":0,"numberMatchedByRule":-1,"hasAttachments":false,"account":"Blue
        Cash Preferred SM","mmerchant":"Amazon","ruleMerchant":"","isChild":false,"isDebit":true,"userCategoryId":null},{"isTransfer":false,"isEdited":false,"isLinkedToRule":false,"isPercent":false,"isMatched":false,"odate":"Jul
        3","isSpending":true,"isFirstDate":true,"isCheck":false,"date":"Jul 3","mcategory":"Income","isDuplicate":false,"id":618751043,"amount":"$100.00","isPending":false,"fi":"Fantasy
        Employee Credit Union","note":"","isAfterFiCreationTime":true,"txnType":0,"ruleCategory":"","merchant":"Deposit
        Mobile Banking","omerchant":"Deposit - Mobile Banking","categoryId":30,[...]
[...]
- request:
    method: get
    uri: https://wwws.mint.com/app/getJsonData.xevent?accept=application/json&comparableType=8&filterType=cash&offset=0&queryNew=coffee&rnd=147748767527&task=transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mint-Start:
      - '1436045382773'
      X-Mint-End:
      - '1436045383039'
      Content-Type:
      - text/json;charset=UTF-8
      Content-Language:
    [...]
